//layout variables
$max-width: 700px;

//Font variables
$font-size-intro: 28px;
$font-size-base: 16px;

//Loading bar variables
$loading-bar-height: 6px;

//Color variables
$material-blue-light: #29B6F6;